<div class="container mx-auto md:p-5 sm:p-2">
  <div class="container py-8 md:px-0 px-5">
    <button (click)="newTask()" mat-stroked-button color="primary">
      <mat-icon>add</mat-icon> Add Task
    </button>
  </div>

  <div class="flex gap-2 md:flex-row md:px-0 flex-col px-5 pb-5">
    <div class="md:w-1/3 w-full">
      <p class="font-medium text-lg subpixel-antialiased">Backlog</p>
      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="todo | async"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list p-2 flex space-y-2"
      >
        <span class="empty-label" *ngIf="(todo | async)?.length === 0">
          Empty list
        </span>
        <app-task
          (edit)="editTask('todo', $event)"
          *ngFor="let task of todo | async"
          cdkDrag
          [task]="task"
        ></app-task>
      </mat-card>
    </div>
    <div class="md:w-1/3 w-full">
      <p class="font-medium text-lg subpixel-antialiased">In progress</p>
      <mat-card
        cdkDropList
        id="inProgress"
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress | async"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="list p-2 flex space-y-2"
      >
        <span class="empty-label" *ngIf="(inProgress | async)?.length === 0">
          Empty list
        </span>
        <app-task
          (edit)="editTask('inProgress', $event)"
          *ngFor="let task of inProgress | async"
          cdkDrag
          [task]="task"
        ></app-task>
      </mat-card>
    </div>
    <div class="md:w-1/3 w-full">
      <p class="font-medium text-lg subpixel-antialiased">Done</p>
      <mat-card
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="done | async"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list p-2 flex space-y-2"
      >
        <span class="empty-label" *ngIf="(done | async)?.length === 0">
          Empty list
        </span>
        <app-task
          (edit)="editTask('done', $event)"
          *ngFor="let task of done | async"
          cdkDrag
          [task]="task"
        ></app-task>
      </mat-card>
    </div>
  </div>
</div>
