.gradient {
  position: absolute;
  content: " ";
  width: 100%;
  height: calc(100% - 64px);
  background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.8) 0%,
      transparent 20%,
      transparent 80%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    radial-gradient(transparent 50%, rgba(0, 0, 0, 0.8));
  overflow: hidden;
  z-index: 2;
}

.gradient::before {
  position: absolute;
  content: " ";
  width: 2500px;
  height: 300px;
  bottom: 5px;
  left: 50%;
  margin-left: -1250px;
  background: radial-gradient(rgba(0, 0, 0, 0.5) 25%, transparent 50%);
}

.gradient::after {
  position: absolute;
  content: " ";
  width: 2000px;
  height: 1500px;
  bottom: -300px;
  left: 50%;
  margin-left: -1000px;
  background: radial-gradient(rgba(0, 0, 0, 0.6) 30%, transparent 50%);
}

.wood-floor {
  position: absolute;
  content: " ";
  width: 100%;
  height: 180px;
  bottom: 0;
  left: 0;
  -moz-perspective: 300px;
  -ms-perspective: 300px;
  -webkit-perspective: 300px;
  perspective: 300px;
  overflow: hidden;
  z-index: 1;
}

.wood-floor::before {
  position: absolute;
  content: " ";
  top: -100%;
  left: -25%;
  width: 150%;
  height: 250%;
  background: url(../../../../../assets/vintage-television/background-floor-wood.jpg);
  background-size: 400px;
  -moz-transform: rotateX(60deg);
  -ms-transform: rotateX(60deg);
  -o-transform: rotateX(60deg);
  -webkit-transform: rotateX(60deg);
  transform: rotateX(60deg);
}

.brick-wall {
  position: absolute;
  width: 100%;
  height: calc(100% - 64px);
  background-image: url(../../../../../assets/vintage-television/background-bricks.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: local;
  background-size: 300px;
  z-index: 1;
}

.brick-wall:before {
  position: absolute;
  content: " ";
  bottom: 180px;
  width: 100%;
  height: 30px;
  background-image: url(../../../../../assets/vintage-television/background-floor-wood-2.jpg);
  background-size: 200px;
  box-shadow: inset 0 2px rgba(255, 255, 255, 0.2),
    inset 0 -5px 5px rgba(0, 0, 0, 0.2), 0 -1px 4px rgba(0, 0, 0, 0.9);
}

.vintage-television * {
  outline: none;
}

.vintage-television {
  position: absolute;
  width: 870px;
  height: 465px;
  left: 50%;
  margin-left: -435px;
  bottom: 440px;
  transform: scale(0.8);
  background: #333;
  background-image: url(../../../../../assets/vintage-television/noise.png);
  padding: 20px;
  border-radius: 8px;
  border-bottom: 4px #222 solid;
  box-shadow: inset 0 -220px 200px rgba(0, 0, 0, 0.6),
    inset 0 2px 1px rgba(255, 255, 255, 0.5),
    inset 1px 0 1px rgba(255, 255, 255, 0.3),
    inset -1px 0 1px rgba(255, 255, 255, 0.3),
    inset 0 -1px 2px rgba(255, 255, 255, 0.2), 0 20px 20px rgba(0, 0, 0, 0.8),
    0 10px 10px rgba(0, 0, 0, 0.8), 0 40px 50px rgba(0, 0, 0, 0.4),
    50px 2px 20px rgba(0, 0, 0, 0.4), -50px 2px 20px rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.vintage-television::after {
  content: " ";
  position: absolute;
  top: 32px;
  left: 32px;
  width: 600px;
  height: 400px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5% / 50%;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  z-index: 100;
  -moz-animation: screen 800ms infinite linear;
  -o-animation: screen 800ms infinite linear;
  -webkit-animation: screen 800ms infinite linear;
  animation: screen 800ms infinite linear;
}

.vintage-television main {
  position: relative;
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  background: #444;
  border: 3px #aaa solid;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.4);
  vertical-align: top;
}

.vintage-television main::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border-style: solid;
  border-width: 80px 90px 77px 90px;
  border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0)
    rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.vintage-television main::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.7) 50%, transparent 100%),
    linear-gradient(rgba(0, 0, 0, 0.1) 10%, transparent);
  z-index: 2;
}

.vintage-television .speaker {
  position: absolute;
  width: 195px;
  height: 240px;
  top: 20px;
  right: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.vintage-television .speaker::before {
  content: " ";
  position: absolute;
  top: 0%;
  left: 15px;
  right: 0%;
  bottom: 0%;
  background: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0px,
    rgba(0, 0, 0, 0.2) 5px,
    rgba(0, 0, 0, 0.2) 6px,
    rgba(0, 0, 0, 0) 5px,
    rgba(0, 0, 0, 0.6) 10px
  );
  border-radius: 20px;
  border: 2px #111 solid;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.5), 0 4px 15px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.vintage-television .speaker::after {
  content: " ";
  position: absolute;
  height: 200px;
  left: 50px;
  right: 38px;
  bottom: 30px;
  background: #222;
  border-radius: 100% / 100%;
  box-shadow: inset 0 1px rgba(0, 0, 0, 1);
  opacity: 0.1;
  z-index: 1;
}

.vintage-television .volume {
  position: absolute;
  width: 180px;
  height: 40px;
  right: 20px;
  bottom: 145px;
  border-radius: 4px;
  box-shadow: inset 2px 2px rgba(255, 255, 255, 0.1),
    inset -2px -2px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.2),
    0 4px 10px rgba(0, 0, 0, 0.4);
  border: 2px #000 solid;
}

.vintage-television .channel {
  position: absolute;
  width: 180px;
  height: 40px;
  right: 20px;
  bottom: 90px;
  border-radius: 4px;
  box-shadow: inset 2px 2px rgba(255, 255, 255, 0.1),
    inset -2px -2px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.2),
    0 4px 10px rgba(0, 0, 0, 0.4);
  border: 2px #000 solid;
}

.vintage-television input[type="range"] {
  appearance: none;
  position: absolute;
  width: 80%;
  left: 10%;
  box-sizing: border-box;
  background: none;
  margin: 16px 0;
}

.vintage-television input[type="range"]:focus {
  outline: none;
}

.vintage-television input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
  background: #000;
  border-radius: 1.3px;
}

.vintage-television input[type="range"]::-webkit-slider-thumb {
  height: 25px;
  width: 10px;
  border-radius: 2px;
  background-color: #444;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), transparent);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.2),
    1px 1px 6px rgba(0, 0, 0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

.vintage-television .power {
  position: absolute;
  width: 180px;
  height: 60px;
  right: 20px;
  bottom: 15px;
  border-radius: 4px;
  box-shadow: inset 2px 2px rgba(255, 255, 255, 0.1),
    inset -2px -2px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.2),
    0 4px 10px rgba(0, 0, 0, 0.4);
  border: 2px #000 solid;
}

.vintage-television .power > button {
  position: relative;
  width: 70px;
  height: 40px;
  top: 8px;
  left: 10px;
  color: #ccc;
  background-color: #333;
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), transparent);
  border-radius: 4px;
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.1),
    inset 1px 1px rgba(255, 255, 255, 0.1), inset -1px -1px rgba(0, 0, 0, 0.3),
    0 1px 1px rgba(255, 255, 255, 0.2);
  border: 2px #000 solid;
  cursor: pointer;
}

.vintage-television .power::after {
  content: " Power ";
  position: absolute;
  font-family: Arial;
  font-size: 10px;
  color: #ccc;
  width: 5px;
  height: 5px;
  top: 16px;
  left: 100px;
  bottom: 30px;
  background: #7cfc00;
  box-shadow: 0 0 10px #7cfc00, 0 0 5px #7cfc00;
  border: 1px #7cfc00 solid;
  border-radius: 50%;
  line-height: 5px;
  text-indent: 12px;
  text-shadow: 0 1px #000;
}

.vintage-television .power::before {
  content: " Standby ";
  position: absolute;
  font-family: Arial;
  font-size: 10px;
  color: #ccc;
  width: 5px;
  height: 5px;
  top: 36px;
  left: 100px;
  bottom: 30px;
  background: #a52a2a;
  border: 1px #111 solid;
  border-radius: 50%;
  line-height: 5px;
  text-indent: 12px;
  text-shadow: 0 1px #000;
}

.vintage-television footer {
  position: absolute;
  height: 35px;
  bottom: -30px;
  left: 15px;
  right: 15px;
  perspective: 1000px;
  text-align: center;
}

.vintage-television footer::after {
  content: " ";
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  transform: rotateX(-60deg);
  background: #111;
  box-shadow: inset 0 15px 5px rgba(0, 0, 0, 1),
    inset 0 5px 2px rgba(0, 0, 0, 1), 0 4px 2px rgba(0, 0, 0, 1);
}

.vintage-television footer::before {
  content: " ";
  position: absolute;
  height: 100px;
  left: 0;
  right: 0;
  bottom: -48px;
  transform: rotateX(80deg);
  background: rgba(0, 0, 0, 0.2);
}

.error-noise {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
  border-radius: 5% / 50%;
  z-index: 3;
}

.error-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50% / 5%;
  background: #111;
  background-image: url(../../../../../assets/vintage-television/noise.png);
  background-size: 80%;
  -moz-animation: noise 200ms infinite linear;
  -o-animation: noise 200ms infinite linear;
  -webkit-animation: noise 200ms infinite linear;
  animation: noise 200ms infinite linear;
  z-index: 1;
}

.error-effect::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 20%;
  background: rgba(255, 255, 255, 0.2);
  -moz-animation: noiseeffect 4000ms infinite linear;
  -o-animation: noiseeffect 4000ms infinite linear;
  -webkit-animation: noiseeffect 4000ms infinite linear;
  animation: noiseeffect 4000ms infinite linear;
  border-radius: 50% / 5%;
  z-index: 1;
}

.error-effect::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent 50%, rgba(0, 0, 0, 0.8)),
    linear-gradient(rgba(255, 255, 255, 0.4) 10%, transparent);
  box-shadow: inset 0 5px 25px rgba(255, 255, 255, 0.2),
    inset 5px 0 15px rgba(255, 255, 255, 0.2),
    inset -5px 0 15px rgba(255, 255, 255, 0.1), 0 0 10px rgba(0, 0, 0, 1),
    inset 0 200px 5px rgba(255, 255, 255, 0.05);
  border-radius: 50% / 5%;
  z-index: 1;
}

.vintage-television-content {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50% / 5%;
  filter: grayscale(0.4) brightness(1.2) contrast(1.5);
  -moz-animation: crt-image 20ms alternate infinite;
  -o-animation: crt-image 20ms alternate infinite;
  -webkit-animation: crt-image 20ms alternate infinite;
  animation: crt-image 20ms alternate infinite;
  opacity: 0.8;
  overflow: hidden;
}

.vintage-television-content::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(0, #fff, #fff 2px, transparent 4px);
  opacity: 0.2;
  border-radius: 50% / 5%;
  -moz-animation: crt-pixels 20ms alternate infinite;
  -o-animation: crt-pixels 20ms alternate infinite;
  -webkit-animation: crt-pixels 20ms alternate infinite;
  animation: crt-pixels 20ms alternate infinite;
  z-index: 10;
}

.vintage-television-content::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      at bottom right,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0.3) 70%,
      rgba(255, 255, 255, 0) 85%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    url("../../../../../assets/vintage-television/background-tv-reflex.jpg");
  background-size: 115%;
  background-position: bottom center;
  background-repeat: no-repeat;
  filter: brightness(1.5) contrast(1.5) blur(1px);
  border-radius: 50% / 5%;
  box-shadow: inset 0 0 15px white;
  opacity: 0.2;
  z-index: 10;
}

.area {
  position: absolute;
  width: 100%;
  height: 100%;
}

.area .grass {
  position: absolute;
  width: 100%;
  height: 110vh;
  background-color: #444;
  background-image: url("../../../../../assets/vintage-television/jaircraft/grass-texture-min.jpg");
  background-repeat: repeat;
  background-size: 100px;
  animation: 1000ms grass-animate infinite linear;
}

.area .object {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  border-radius: 100%;
  background-color: transparent;
  background-image: url("../../../../../assets/vintage-television/jaircraft/aircraft-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: 15s object-animate infinite ease-in-out;
}

.area .clouds img {
  position: absolute;
  height: 200px;
  top: -300px;
  opacity: 0.4;
  z-index: 80;
  filter: blur(8px);
}

.area .clouds img:nth-child(1) {
  left: -100px;
  opacity: 0.2;
  animation: 16000ms cloud-animate infinite linear;
}

.area .clouds img:nth-child(2) {
  right: 80px;
  animation: 14000ms cloud-animate infinite linear;
}

.area .clouds img:nth-child(3) {
  opacity: 0.2;
  left: 20px;
  animation: 12000ms cloud-animate infinite linear;
}

.area .clouds img:nth-child(4) {
  right: -90px;
  animation: 10000ms cloud-animate infinite linear;
}

.table-vintage-television {
  perspective: 1400px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 500px;
  font-size: 500%;
  bottom: 0;
  z-index: 2;
}

.face {
  background-image: url("../../../../../assets/vintage-television/background-table-wood.jpg");
  background-size: 100%;
}

.scene,
.shape,
.face,
.face-wrapper,
.cr {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -38em 0 0 -40em;
}

.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -moz-transform-origin: 50%;
  -ms-transform-origin: 50%;
  -o-transform-origin: 50%;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

.face,
.face-wrapper {
  overflow: hidden;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.face {
  background-size: 100% 100% !important;
  background-position: center;
}

.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%;
}

.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.side {
  left: 50%;
}

.cr,
.cr .side {
  height: 100%;
}

[class*="cuboid"] .ft,
[class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}

[class*="cuboid"] .bk {
  left: 100%;
}

[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}

[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}

[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}

[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}

[class*="cuboid"] .lt {
  left: 100%;
}

[class*="cuboid"] .bm {
  top: 100%;
}
/* .cub-1 styles */
.cub-1 {
  -moz-transform: translate3D(0em, -5em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  -ms-transform: translate3D(0em, -5em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  -o-transform: translate3D(0em, -5em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  -webkit-transform: translate3D(0em, -5em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  transform: translate3D(0em, -5em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 12em;
  height: 0.2em;
  margin: -0.1em 0 0 -6em;
}

.cub-1 .ft {
  transform: translateZ(2.625em);
}

.cub-1 .bk {
  transform: translateZ(-2.625em) rotateY(180deg);
}

.cub-1 .rt,
.cub-1 .lt {
  width: 5.25em;
  height: 0.2em;
}

.cub-1 .tp,
.cub-1 .bm {
  width: 12em;
  height: 5.25em;
}

.cub-1 .face {
  background-color: #ffffff;
}
/* .cub-3 styles */
.cub-3 {
  -moz-transform: translate3D(-4.0625em, -2.5em, -2.125em) rotateX(0deg)
    rotateY(0deg) rotateZ(12deg);
  -ms-transform: translate3D(-4.0625em, -2.5em, -2.125em) rotateX(0deg)
    rotateY(0deg) rotateZ(12deg);
  -o-transform: translate3D(-4.0625em, -2.5em, -2.125em) rotateX(0deg)
    rotateY(0deg) rotateZ(12deg);
  -webkit-transform: translate3D(-4.0625em, -2.5em, -2.125em) rotateX(0deg)
    rotateY(0deg) rotateZ(12deg);
  transform: translate3D(-4.0625em, -2.5em, -2.125em) rotateX(0deg)
    rotateY(0deg) rotateZ(12deg);
  opacity: 1;
  width: 0.2em;
  height: 5em;
  margin: -2.5em 0 0 -0.1em;
}

.cub-3 .ft {
  transform: translateZ(0.1em);
}

.cub-3 .bk {
  transform: translateZ(-0.1em) rotateY(180deg);
}

.cub-3 .rt,
.cub-3 .lt {
  width: 0.2em;
  height: 5em;
}

.cub-3 .tp,
.cub-3 .bm {
  width: 0.2em;
  height: 0.2em;
}

.cub-3 .face {
  background-color: #ffffff;
}
/* .cub-4 styles */
.cub-4 {
  -moz-transform: translate3D(-4.125em, -2.5em, 2.125em) rotateX(0deg)
    rotateY(0deg) rotateZ(12deg);
  -ms-transform: translate3D(-4.125em, -2.5em, 2.125em) rotateX(0deg)
    rotateY(0deg) rotateZ(12deg);
  -o-transform: translate3D(-4.125em, -2.5em, 2.125em) rotateX(0deg)
    rotateY(0deg) rotateZ(12deg);
  -webkit-transform: translate3D(-4.125em, -2.5em, 2.125em) rotateX(0deg)
    rotateY(0deg) rotateZ(12deg);
  transform: translate3D(-4.125em, -2.5em, 2.125em) rotateX(0deg) rotateY(0deg)
    rotateZ(12deg);
  opacity: 1;
  width: 0.2em;
  height: 5em;
  margin: -2.5em 0 0 -0.1em;
}

.cub-4 .ft {
  transform: translateZ(0.1em);
}

.cub-4 .bk {
  transform: translateZ(-0.1em) rotateY(180deg);
}

.cub-4 .rt,
.cub-4 .lt {
  width: 0.2em;
  height: 5em;
}

.cub-4 .tp,
.cub-4 .bm {
  width: 0.2em;
  height: 0.2em;
}

.cub-4 .face {
  background-color: #ffffff;
}
/* .cub-5 styles */
.cub-5 {
  -moz-transform: translate3D(4em, -2.5em, -2.125em) rotateX(0deg) rotateY(0deg)
    rotateZ(-13deg);
  -ms-transform: translate3D(4em, -2.5em, -2.125em) rotateX(0deg) rotateY(0deg)
    rotateZ(-13deg);
  -o-transform: translate3D(4em, -2.5em, -2.125em) rotateX(0deg) rotateY(0deg)
    rotateZ(-13deg);
  -webkit-transform: translate3D(4em, -2.5em, -2.125em) rotateX(0deg)
    rotateY(0deg) rotateZ(-13deg);
  transform: translate3D(4em, -2.5em, -2.125em) rotateX(0deg) rotateY(0deg)
    rotateZ(-13deg);
  opacity: 1;
  width: 0.2em;
  height: 5em;
  margin: -2.5em 0 0 -0.1em;
}

.cub-5 .ft {
  transform: translateZ(0.1em);
}

.cub-5 .bk {
  transform: translateZ(-0.1em) rotateY(180deg);
}

.cub-5 .rt,
.cub-5 .lt {
  width: 0.2em;
  height: 5em;
}

.cub-5 .tp,
.cub-5 .bm {
  width: 0.2em;
  height: 0.2em;
}

.cub-5 .face {
  background-color: #ffffff;
}
/* .cub-6 styles */
.cub-6 {
  -moz-transform: translate3D(4em, -2.5em, 2.125em) rotateX(0deg) rotateY(0deg)
    rotateZ(-13deg);
  -ms-transform: translate3D(4em, -2.5em, 2.125em) rotateX(0deg) rotateY(0deg)
    rotateZ(-13deg);
  -o-transform: translate3D(4em, -2.5em, 2.125em) rotateX(0deg) rotateY(0deg)
    rotateZ(-13deg);
  -webkit-transform: translate3D(4em, -2.5em, 2.125em) rotateX(0deg)
    rotateY(0deg) rotateZ(-13deg);
  transform: translate3D(4em, -2.5em, 2.125em) rotateX(0deg) rotateY(0deg)
    rotateZ(-13deg);
  opacity: 1;
  width: 0.2em;
  height: 5em;
  margin: -2.5em 0 0 -0.1em;
}

.cub-6 .ft {
  transform: translateZ(0.1em);
}

.cub-6 .bk {
  transform: translateZ(-0.1em) rotateY(180deg);
}

.cub-6 .rt,
.cub-6 .lt {
  width: 0.2em;
  height: 5em;
}

.cub-6 .tp,
.cub-6 .bm {
  width: 0.2em;
  height: 0.2em;
}

.cub-6 .face {
  background-color: #ffffff;
}
/* .cub-2 styles */
.cub-2 {
  -moz-transform: translate3D(0em, -3.5em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  -ms-transform: translate3D(0em, -3.5em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  -o-transform: translate3D(0em, -3.5em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  -webkit-transform: translate3D(0em, -3.5em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  transform: translate3D(0em, -3.5em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 10em;
  height: 0.2em;
  margin: -0.1em 0 0 -5em;
}

.cub-2 .ft {
  transform: translateZ(2.625em);
}

.cub-2 .bk {
  transform: translateZ(-2.625em) rotateY(180deg);
}

.cub-2 .rt,
.cub-2 .lt {
  width: 5.25em;
  height: 0.2em;
}

.cub-2 .tp,
.cub-2 .bm {
  width: 10em;
  height: 5.25em;
}

.cub-2 .face {
  background-color: #ffffff;
}

/* ====== 1080p ====== */

@media only screen and (max-height: 958px) {
  .gradient::before {
    width: 1000px;
    height: 300px;
    bottom: -70px;
    margin-left: -500px;
    background: radial-gradient(rgba(0, 0, 0, 0.6) 25%, transparent 50%);
  }
  .gradient::after {
    width: 1500px;
    height: 750px;
    bottom: -50px;
    margin-left: -750px;
    background: radial-gradient(rgba(0, 0, 0, 0.6) 30%, transparent 50%);
  }
  .brick-wall {
    background-size: 200px;
  }
  .brick-wall:before {
    bottom: 120px;
  }
  .wood-floor {
    height: 120px;
  }
  .wood-floor::before {
    background-size: 200px;
  }
  .vintage-television {
    transform: scale(0.5);
    bottom: 186px;
  }
  .table-vintage-television {
    transform: scale(0.6);
    bottom: -90px;
  }
}

/* ====== 4K ====== */

@media only screen and (min-width: 2560px) {
  .brick-wall {
    background-image: url("../../../../../assets/vintage-television/original/background-bricks.jpg");
  }
  .brick-wall:before {
    background-image: url("../../../../../assets/vintage-television/original/background-floor-wood-2.jpg");
  }
  .wood-floor::before {
    background-image: url("../../../../../assets/vintage-television/original/background-floor-wood.jpg");
  }
  .face {
    background-image: url("../../../../../assets/vintage-television/original/background-table-wood.jpg");
  }
}

/* ====== MOBILE ====== */

@media only screen and (max-width: 992px) {
  .vintage-television {
    position: absolute;
    width: 100%;
    height: calc(100% - 56px);
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    transform: scale(1);
  }

  .vintage-television main,
  .vintage-television::after,
  .error-noise,
  .vintage-television-content,
  .vintage-television-content::after,
  .error-effect::before,
  .error-effect::after {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
  }

  .vintage-television::after {
    height: 100%;
    top: auto;
    left: auto;
    filter: none;
    animation: none;
    opacity: 0.8;
  }

  .vintage-television-content::after {
    top: 2px;
  }

  .vintage-television-content::before {
    background-size: cover;
    background-position: center center;
    border-radius: 0;
  }

  .gradient,
  .brick-wall,
  .wood-floor,
  .vintage-television main::after,
  .vintage-television main::before,
  .vintage-television .speaker,
  .vintage-television .volume,
  .vintage-television .channel,
  .vintage-television .power,
  .vintage-television footer,
  .table-vintage-television {
    display: none;
  }
}

/* ====== Animations ====== */

@keyframes screen {
  0% {
    transform: scale(1.03);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.03);
  }
}

@keyframes crt-image {
  0% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes crt-pixels {
  0% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes noise {
  0% {
    background-position: 0px 1000px;
  }

  50% {
    background-position: -1000px;
  }

  100% {
    background-position: 100px 0px;
  }
}

@keyframes noiseeffect {
  0% {
    top: -20%;
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  80% {
    opacity: 0;
  }

  100% {
    top: 100%;
    opacity: 0;
  }
}

@keyframes cloud-animate {
  80% {
    opacity: 1;
  }
  to {
    transform: translateY(1100px);
    opacity: 0;
  }
}

@keyframes grass-animate {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes object-animate {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(-64px) translateY(-64px);
  }
  20% {
    transform: translateX(-128px) translateY(-64px);
  }
  30% {
    transform: translateX(-64px) translateY(-128px);
  }
  40% {
    transform: translateX(64px) translateY(-64px);
  }
  50% {
    transform: translateX(128px) translateY(-200px);
  }
  60% {
    transform: translateX(128px) translateY(-64px);
  }
  70% {
    transform: translateX(-128px) translateY(-64px);
  }
  80% {
    transform: translateX(200px) translateY(-128px);
  }
  90% {
    transform: translateX(64px) translateY(-64px);
  }
  100% {
    transform: translateX(0px);
  }
}
